html {
    height: 100%;
    font-size: 10px;

    @media (max-width: $mq-lg - 1px) {
        font-size: 10px !important;
    }
}

body {
    font-family: $mainFontFamily;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    font-size: $font-size;
    line-height: 1.5;


    & a {
        @media (min-width: $mq-lg) {
            transition: color .15s ease;
        }

        @media #{$mouse-device} {
            &:not(.btn-secondary):not(.btn-primary):hover {
                color: $color-link-hover;
            }
        }
    }

}

strong {
    font-weight: 600;

    & strong {
        font-weight: bolder;
    }
}

._page {
    flex: 1 1 auto;
}


// ================