
.h1 {
    font-weight: 600;
    font-size: $font-size * 3;
    line-height: 1.25em;
}


.h2 {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: $mq-lg) {
        font-size: 3.7rem;
    }
}


.h3 {
    font-weight: 600;
    font-size: $font-size * 2;
    line-height: 1.25em;
}

.h4 {
    font-weight: 600;
    font-size: $font-size * 1.5;
    line-height: 1.25em;
}

.h5 {
    font-weight: 600;
    font-size: $font-size * 1.25;
    line-height: 1.25em;
}

.h6 {
    font-weight: 600;
    font-size: $font-size;
    line-height: 1.25em;
}

p,
ul,
ol {
    margin-bottom: 1em;
}

.text-content {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: 0.75em;
        color: inherit;
    }

    & h1, h2 {
        margin-top: 0;
        font-size: 2.6rem;
        font-weight: 600;

        @media (min-width: $mq-lg) {
            font-size: 3.7rem;
        }
    }

    & p,
    & ul,
    & ol {
        margin-bottom: 1em;
    }

    & ul {
        padding-left: 1em;

        & > li {
            list-style: disc;

            &:not(:last-child) {
                margin-bottom: 1.25em;

                @media (min-width: $mq-lg) {
                    margin-bottom: 0.75em;
                }
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    & ol {
        padding-left: 0em;

        & > li {
            &:not(:last-child) {
                margin-bottom: 0.7em;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    & figure {
        display: block;
        width: 100%;
        margin: 3rem 0;

        @media (min-width: $mq-lg) {
            margin: 4rem 0;
        }

        & img {
            display: block;
            width: 100%;
            height: auto;
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: 0rem !important;
        }
    }

    & video {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 60rem;
        margin: 4rem 0;
    }

    & iframe {
        display: block;
        width: 100%;
        height: 60rem;
        margin: 4rem 0;
    }

    & table {
        margin: 4rem 0;

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: 0rem !important;
        }
    }

    & p,
    & ul,
    & ol,
    & figure,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        & ~ h1,
        & ~ h2,
        & ~ h3,
        & ~ h4,
        & ~ h5,
        & ~ h6 {
            margin-top: 4rem;

            @media (min-width: $mq-lg) {
                margin-top: 3.2rem;
            }
        }
    }

    a:not(.btn-primary):not(.btn-secondary) {
        text-decoration: underline;
    }
}
