.card-v1 {
    display: block;
    border-radius: 1.4rem;
    border: 1px solid $theme-border-color;
    box-shadow: $theme-shadow;
    transition: box-shadow .15s ease, color .15s ease;

    @media #{$mouse-device} {
        &:hover {
            box-shadow: $theme-shadow-hover;
        }
    }

    &__head {
        height: 11rem;
        padding: 1.4rem;
        border-bottom: 1px solid $theme-border-color;

        @media (min-width: $mq-lg) {
            height: 16.1rem;
            padding: 3.6rem 2.4rem 2.8rem;
        }
    }

    &__body {
        padding: 1.8rem 2rem;
        font-size: 1.2rem;
    }
    &__body-top {
        display: flex;
        gap: 1.2rem;
    }
    &__title {
        flex: 1 1 auto;
    }
    &__value {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 0.16em;

        & img {
            height: 1.5em;
        }
    }
    &__body-content {
        margin-top: 0.7rem;
        font-weight: 600;
    }
}


.card-v2 {
    display: flex;
    flex-direction: column;
    border-radius: 1.4rem;
    border: 1px solid $theme-border-color;
    box-shadow: $theme-shadow;

    &__head {
        height: 10.3rem;
        padding: 2rem;
        border-bottom: 1px solid $theme-border-color;

        @media (min-width: $mq-lg) {
            padding: 2rem 2rem 1.6rem;
        }
    }

    &__body {
        padding: 1.6rem 2rem 2rem;
        font-size: 1.2rem;
        display: grid;
        grid-template: 
            "title title"
            "text text"
            "btn status"
            / 1fr auto;
        align-items: center;
        flex: 1 1 auto;


        @media (min-width: $mq-lg) {
            display: flex;
            flex-direction: column;
            align-items: initial;
            padding: 1.6rem 1rem 2rem;
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        grid-area: title;
    }
    &__text {
        margin-top: 0.7rem;
        max-width: 17.2rem;
        grid-area: text;

        @media (min-width: $mq-lg) {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }

        & p {
            margin-bottom: 0.7rem;
        }

        & a {
            text-decoration: underline;
            transition: color .15s ease;
            margin-top: auto;

            @media #{$mouse-device} {
                &:hover {
                    color: $color-link-hover;
                }
            }
        }
    }
    &__status {
        font-size: 1.2rem;
        color: $color-text-muted;
        display: flex;
        align-items: center;
        gap: 0.16em;
        margin-top: 1.4rem;
        grid-area: status;

        & img, & svg {
            height: 1.5em;
            flex: 0 0 auto;
        }
    }

    &__btn-slot {
        margin-top: 1.4rem;
        grid-area: btn;
    }
}

.card-v3 {
    display: grid;
    grid-template: 
        "img title"
        "img text"
        / auto 1fr;
    box-shadow: $theme-shadow;
    transition: box-shadow .15s ease, color .15s ease;
    gap: 0 1.7rem;
    align-items: center;
    background-color: $color-background-light;
    border-radius: 1.4rem;
    padding: 2.3rem 1.5rem;

    @media #{$mouse-device} {
        &:hover {
            box-shadow: $theme-shadow-hover;
        }
    }

    @media (min-width: $mq-lg) {
        padding: 2.6rem 3rem;
    }

    &__image {
        width: 6.2rem;
        height: 4rem;
        grid-area: img;

        @media (min-width: $mq-lg) {
            width: 7.7rem;
            height: 5rem;
        }
    }

    &__title {
        grid-area: title;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__text {
        grid-area: text;
        font-size: 1.2rem;
    }
}

.untested-codes-card {

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
    }

    & .code-card__promo-code {
        margin-top: 1.2rem;
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $mq-lg) {
            & .promo-code__value {
                font-size: 2.4rem;
            }
        }
    }

    &__bottom {
        margin-top: 1.2rem;
        text-align: center;


        & img, & svg {
            display: inline-block;
            height: 0.8em;
            margin-top: -0.2em;
        }
    }
}
